{% extends "base_generic.html" %}

{% block title %}<title>{{ title }}</title>{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }})
                </li>
                {% if forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}
